.form {
    margin: 0 auto;
    padding: 30px;
}

.label {
    font-size: 14px;
    color: darkgray;
    float: right;
    clear: both;
}

.input {
    clear: both;
    direction: rtl;
    text-align: right;
    margin: 15px 0;
    padding: 15px 10px;
    width: 100%;
    outline: none;
    border: 1px solid #bbb;
    border-radius: 20px;
    display: inline-block;
    box-sizing: border-box;
    transition: 0.2s ease all;
    appearance: none;
    -webkit-appearance: none;
}

.input:focus {
    border-color: cornflowerblue;
}


.button {
    padding: 15px 50px;
    text-align: center;
    direction: rtl;
    width: auto;
    margin-top: 10px;
    background: #1abc9c;
    border: none;
    color: white;
    cursor: pointer;
    display: inline-block;
    clear: right;
    -webkit-transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -ms-transition: 0.2s ease all;
    -o-transition: 0.2s ease all;
    transition: 0.2s ease all;
}

.button:hover {
    opacity: 0.8;
}

.button:active {
    opacity: 0.4;
}