.footerContainer {
    margin-top: auto;
    width: 100%;
    background-color: #ffffff;
    box-sizing: border-box;
    padding: 20px;
    position: sticky;
    bottom: 0;
}

.socialButtonsContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.socialButton {
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 3.125rem;
    height: 3.125rem;
    border: 0.125rem solid transparent;
    padding: 0;
    text-decoration: none;
    text-align: center;
    color: #fefefe;
    font-size: 1.5625rem;
    font-weight: normal;
    line-height: 2em;
    border-radius: 1.6875rem;
    transition: all 0.5s ease;
    margin-right: 0.25rem;
    margin-bottom: 0.25rem;
}

.socialButton:hover,
.socialButton:focus {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}

.facebookIcon,
.instagramIcon,
.phoneIcon {
    font-size: 25px;
}

/* Adjusting the color schemes based on your requirements */
.facebook {
    background: #3b5998;
}

.facebook:hover,
.facebook:focus {
    color: #3b5998;
    background: #fefefe;
    border-color: #3b5998;
}

.phone {
    background: #000000;
}

.phone:hover,
.phone:focus {
    color: #000000;
    background: #fefefe;
    border-color: #000000;
}

.instagram {
    background: #125688;
}

.instagram:hover,
.instagram:focus {
    color: #125688;
    background: #fefefe;
    border-color: #125688;
}